# Envs / IDE
.env
.envrc
.venv/
venv/
env/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
notebooks/_runs/

# MLflow
mlruns/

# Dados / artefatos (não versionar)
data_raw/
data_processed/
data_interim/

# Temporários / logs
*.log
*.tmp
tmp_*
.tmp_*

# Outros caches
*.egg-info/
.ruff_cache/
.mypy_cache/
.cache/
